<div appArc [arcColor]="color">
  <p [ngStyle]="style">Test</p>

  <label for="fontSize">Font :</label>
  <input type="number" id="fontSize" [(ngModel)]="fontSize" (input)="applyStyles()" />

  <label for="fontFamily">Police :</label>
  <select id="fontFamily" [(ngModel)]="fontFamily" (change)="applyStyles()">
    <option value="Arial">Arial</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Verdana">Verdana</option>
  </select>

  <label for="color">Couleur :</label>
  <input type="text" id="color" [(ngModel)]="color" (keyup)="applyStyles()" />

  <p [ngStyle]="style">{{ text }}</p>
</div>
